<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="scripts.js"></script>
        {% endblock %}
    </body>
</html>
