<h2>Search results for "{{ searchQuery }}"</h2>
<div class="row">
    {% if searchResults.prevPageToken is defined %}
        <button class="youtubePreviousPage" data-prev-page-token="{{ searchResults.prevPageToken }}">Previous page</button>
    {% endif %}
    {% if searchResults.nextPageToken is defined %}
        <button class="youtubeNextPage" data-next-page-token="{{ searchResults.nextPageToken }}">Next page</button>
    {% endif %}
</div>
<div class="row">
    <table>
        {% if searchResults.items is defined %}
            {% for youtubeItem in searchResults.items %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ "https://www.youtube.com/watch?v=%s"|format(youtubeItem.id.videoId) }}">{{ youtubeItem.snippet.title }}</a>
                    </td>
                    <td>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtubeItem.id.videoId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            No results found.
        {% endif %}
    </table>
</div>
<div class="row">
    {% if searchResults.prevPageToken is defined %}
        <button class="youtubePreviousPage" data-prev-page-token="{{ searchResults.prevPageToken }}">Previous page</button>
    {% endif %}
    {% if searchResults.nextPageToken is defined %}
        <button class="youtubeNextPage" data-next-page-token="{{ searchResults.nextPageToken }}">Next page</button>
    {% endif %}
</div>