{% extends 'base.html.twig' %}

{% block content %}
    <h1>Search Youtube</h1>
    {{ form_start(form, {'attr': {'id': 'youtubeForm'}}) }}

    <div class="row">
        {{ form_widget(form) }}
        <button type="button" id="youtubeSearch">Search</button>
    </div>
    {{ form_end(form) }}
    <div id="spinner" style="display:none;"><img src="spinner.gif"></div>
    <div id="searchResults"></div>
{% endblock %}
